* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.bg-img {
  background: url('../../assets/background.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
}

.bg-img h1 {
  font-size: 100px;
}
.bg-img h2 {
  padding-left: 5px;
}
