* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.subheader {
  padding: 30px;
  display: flex;
  text-transform: uppercase;
}

.text {
  text-shadow: 2px 2px 4px #000000;
}

.text h3 {
  font-size: 60px;
  letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
  .subheader {
    padding: 15px;
  }

  .text h3 {
    font-size: 45px;
  }
}
